@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script src="http://1c.inlinegroup.ru/EDO_imp/scripts/webclient1ce.js"></script>
    <script>
        window.onload = function () {
            start_1c_edo_imp();
        };
        var webClient = null;
        var start_1c_edo_imp = function () {
            document.getElementById("webClientContainer").innerHTML = "";
            webClient = new WebClient1CE('webClientContainer',
                {
                    /*webClientURL: 'http://1c.inlinegroup.ru/EDO_imp/ru_RU?N="Юрин Владимир Владимирович"&P=2a3e6ce0-f13e-4714-8750-fa5b782ccb00',*/
                    webClientURL: 'http://1c.inlinegroup.ru/EDO_imp/ru_RU?N="@Html.ViewBag.User_imp"&P=@Html.ViewBag.User_imp_p',
                    /*webClientURL: 'http://1c.inlinegroup.ru/EDO_imp/ru_RU',*/
                    width: '100%',
                    height: '100%'
                });
        };
    </script>
    <style type="text/css">
        .content {
            width: 95%;
            height: 95%;
            background: #FFFFFF;
            padding: 5px;
            border: 0px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="content">
        <div id="webClientContainer"></div>
    </div>
    <div id="webClientMessageArea"></div>
</body>
</html>

