body, html {
    width: 100%;
    height: 100%;
    //min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*header, footer {
    flex: 0 0 auto;    
    height: 50px;
    background-color: green;
    color: #fff;
    text-align: center;
    line-height: 50px;
}*/

main {
    flex: 1 1 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}